* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #f9f9f9;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 10px;
}

p {
	font-size: 1.4em;
}

#box-login {
	width: 340px;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -170px;
	z-index: 1;
	background-color: #fff;
	padding: 20px;
	border: 1px solid #c9c9c9;
	border-radius: 5px;
}

#box-login fieldset {
	border: 0;
}

#box-login fieldset + fieldset {
	margin-top: 15px;
}

#box-login fieldset label {
	display: inline-block;
	margin-bottom: 2px;
	font-size: 1.4em;
}

#box-login fieldset input[type="text"],
#box-login fieldset input[type="password"] {
	padding: 6px 8px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: 1.4em;
}

#box-login #box-login-action {
	margin-top: 15px;
}

#box-login #box-login-action button {
	padding: 4px 15px;
}